<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
    
  </configSections>
    <connectionStrings>
        <add name="Belayab.Properties.Settings.StosaConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Stosa;User Id=sa; password=goodwork;Connect Timeout=5"
            providerName="System.Data.SqlClient" />
        <add name="Belayab.Properties.Settings.StosaConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=Stosa;User Id=sa; password=goodwork;Connect Timeout=5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>