<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Belayab.Properties.Settings.StosaConnectionString"
      connectionString="Data Source=(local);Initial Catalog=SysBab;Persist Security Info=True;User ID=sa;Password=goodwork;Connect Timeout=5"
      providerName="System.Data.SqlClient" />
    <add name="Belayab.Properties.Settings.StosaConnectionString1"
      connectionString="Data Source=(local);Initial Catalog=SysBab;Persist Security Info=True;User ID=sa;Password=goodwork;Connect Timeout=5"
      providerName="System.Data.SqlClient" />
    <add name="Belayab.Properties.Settings.SysBabConnectionString"
      connectionString="Data Source=.;Initial Catalog=SysBab;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>